[Unit]
Description=KDNA project's Python daemon service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /root/kdna_service/main.py 10  # This is the service as in POC-6-TTC which writes logs here every 10 seconds.
Restart=on-failure
RemainAfterExit=true

# Appends service logs (directories made during kdna app installation)
StandardOutput=append:/var/log/kdna/kdnad.log
StandardError=append:/var/log/kdna/kdnad.log

[Install]
WantedBy=default.target
Alias=kdnad.service
